# 1. A) How many box? How many cakes and apples does every box have?

Diketahui, Ainun memiliki :
```
cakes = 20
apples = 25
```
Berapa banyak kotak yang Ainun bisa buat? Maka bisa menggunakan 
perhitungan FPB (Faktor Persekutuan Terbesar) dari cakes dan apples yang dimiliki Ainun.

```
20       dan    25
/\              /\
2 10            5 5
  /\
  2 5
```
Faktorisasi prima

20 = 2² × 5

25 = 5²

FPB dari 20 dan 25 = 5

Jadi, Aiunun dapat membuat 5 kotak untuk dibagikan kepada temannya.

Lalu ada berapa cakes dan apples di setiap kotaknya, jika cakes dan apples dibagi rata setiap kotak ?

```
cakes  = 20 : 5 
       = 4
apples = 25 : 5
       = 5
```

Jadi ada 4 cakes dan 5 apples per kotak-nya

# 1. B) Create function to count boxes Ainun can make

In [ ]:
def count_box(a,b):
    if a<b:
        smaller=a
    else:
        smaller=b
    for i in range (1,smaller+1):
        if (a%i==0) and (b%i==0):
            fpb=i
    return fpb

# 1. C) Create function to count how many cake and apple in a box

In [ ]:
def division_val_box(val, val_fpb):
  count = val/val_fpb
  return int(count)

# 1. D) Unit test for the function

pada unit test function ini dilakukan dengan kondisi yang dinyatakan pada point **E) Apel dan kue dibagi rata setiap kotak **

In [ ]:
#jika sudah memiliki nilai tetap seperti contoh case ainun
#Unit tes untuk function count_box()

num1 = 20
num2 = 25

print("Ainun must have", count_box(num1, num2), "box")

Ainun must have 5 box

In [ ]:
#Unit tes untuk function division_val_box() --> pembagian apples dan cakes per box
print("There are", division_val_box(num1, count_box(num1, num2)), "apples and", division_val_box(num2, count_box(num1, num2)), "cakes per box" )

There are 4 apples and 5 cakes per box

In [ ]:
print("Ainun must have", count_box(num1, num2), "box")
print("There are", division_val_box(num1, count_box(num1, num2)), "apples and", division_val_box(num2, count_box(num1, num2)), "cakes per box" )

Ainun must have 5 box
There are 4 apples and 5 cakes per box

In [ ]:
#jika nilai ditentukan melalui inputan yang diinginkan

nama=input('Masukkan nama kamu :')
num1=int(input('Masukkan angka pertama :'))
num2=int(input('Masukkan angka kedua   :'))

print(nama, "must have", count_box(num1, num2), "box")
print("There are", division_val_box(num1, count_box(num1, num2)), "apples and", division_val_box(num2, count_box(num1, num2)), "cakes per box" )

Masukkan nama kamu :Deryan
Masukkan angka pertama :20
Masukkan angka kedua   :30
Deryan must have 10 box
There are 2 apples and 3 cakes per box

# 2. Create a query (using Spark SQL)

Dataset diunduh dari [Link Terkait](https://docs.google.com/spreadsheets/d/1kbytU6fCaen0YvV-UAam9pbGQcqmQXZDvjYPeZfCUns/edit?usp=sharing) yang sudah disediakan, dengan memisah setiap sheet menjadi dataframe setiap entitas, kemudian diunggah ke colab sebagai data temporary.

**Melakukan instalasi dan load library pyspark untuk dapat menjalankan Spark SQL**

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/spark-3.1.1/spark-3.1.1-bin-hadoop2.7.tgz
!tar xf spark-3.1.1-bin-hadoop2.7.tgz
!pip install -q findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop2.7"

In [ ]:
import findspark
findspark.init()

In [ ]:
findspark.find()

'/content/spark-3.1.1-bin-hadoop2.7'

In [ ]:
import pandas as pd
from pyspark.sql import SparkSession

spark = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

In [ ]:
spark

In [ ]:
#untuk bisa mengakses Spark GUI
!wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
!unzip ngrok-stable-linux-amd64.zip
get_ipython().system_raw('./ngrok http 4050 &')
!curl -s http://localhost:4040/api/tunnels

--2021-03-19 03:59:41--  https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
Resolving bin.equinox.io (bin.equinox.io)... 52.45.2.52, 34.198.117.197, 52.203.96.188, ...
Connecting to bin.equinox.io (bin.equinox.io)|52.45.2.52|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 13773305 (13M) [application/octet-stream]
Saving to: ‘ngrok-stable-linux-amd64.zip.1’

ngrok-stable-linux- 100%[===================>]  13.13M  20.8MB/s    in 0.6s

2021-03-19 03:59:41 (20.8 MB/s) - ‘ngrok-stable-linux-amd64.zip.1’ saved [13773305/13773305]

Archive:  ngrok-stable-linux-amd64.zip
replace ngrok? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: ngrok
{"tunnels":[{"name":"command_line (http)","uri":"/api/tunnels/command_line%20%28http%29","public_url":"http://e52d1d2674f5.ngrok.io","proto":"http","config":{"addr":"http://localhost:4050","inspect":true},"metrics":{"conns":{"count":0,"gauge":0,"rate1":0,"rate5":0,"rate15":0,"p50":0,"p90":0,"p95":0,"p99":0},"http":{"count":0,"rate1":0,"rate5":0,"rate15":0,"p50":0,"p90":0,"p95":0,"p99":0}}},{"name":"command_line","uri":"/api/tunnels/command_line","public_url":"https://e52d1d2674f5.ngrok.io","proto":"https","config":{"addr":"http://localhost:4050","inspect":true},"metrics":{"conns":{"count":0,"gauge":0,"rate1":0,"rate5":0,"rate15":0,"p50":0,"p90":0,"p95":0,"p99":0},"http":{"count":0,"rate1":0,"rate5":0,"rate15":0,"p50":0,"p90":0,"p95":0,"p99":0}}}],"uri":"/api/tunnels"}

In [ ]:
#load dataset
donation = spark.read.csv("donation.csv", header=True, inferSchema=True)
donation_statuses = spark.read.csv("donation_statuses.csv", header=True, inferSchema=True)
campaign = spark.read.csv("campaign.csv", header=True, inferSchema=True)
campaign_flag = spark.read.csv("campaign_flag.csv", header=True, inferSchema=True)
ticket = spark.read.csv("ticket.csv", header=True, inferSchema=True)
user = spark.read.csv("user.csv", header=True, inferSchema=True)
visit = spark.read.csv("visit.csv", header=True, inferSchema=True)
ads_spent = spark.read.csv("ads_spent.csv", header=True, inferSchema=True)

In [ ]:
donation.createOrReplaceTempView("donation")
donation_statuses.createOrReplaceTempView("donation_statuses")
campaign.createOrReplaceTempView("campaign")
campaign_flag.createOrReplaceTempView("campaign_flag")
ticket.createOrReplaceTempView("ticket")
user.createOrReplaceTempView("user")
visit.createOrReplaceTempView("visit")
ads_spent.createOrReplaceTempView("ads_spent")

In [ ]:
sqlDF_donation = spark.sql("SELECT donation.campaign_id, " +
                           "TO_DATE(FROM_UNIXTIME(donation.created,'yyyy/MM/dd'), 'yyyy/MM/dd') AS day, " +
                           "SUM(donation.amount) AS total_amount, COUNT(donation.campaign_id) AS total_donation, " +
                           "campaign.url " +
                           "FROM donation " +
                           "LEFT JOIN campaign ON campaign.id = donation.campaign_id "
                           "GROUP BY day, donation.campaign_id, campaign.url " +
                           "ORDER BY day, donation.campaign_id")
sqlDF_donation.show()

+-----------+----------+------------+--------------+---------------+
|campaign_id|       day|total_amount|total_donation|            url|
+-----------+----------+------------+--------------+---------------+
|      18856|2019-12-03|       10000|             1| 1000daitangguh|
|      38661|2019-12-03|       30000|             2|     pesawatr80|
|     115501|2019-12-03|       31000|             4|     gojeksehat|
|      18856|2019-12-04|       10000|             1| 1000daitangguh|
|      38661|2019-12-04|       10000|             1|     pesawatr80|
|     115501|2019-12-04|       10000|             1|     gojeksehat|
|      18856|2019-12-05|       10000|             1| 1000daitangguh|
|     115501|2019-12-05|       10000|             1|     gojeksehat|
|      18856|2019-12-06|       10000|             1| 1000daitangguh|
|      38661|2019-12-06|       25000|             1|     pesawatr80|
|      18856|2019-12-07|       40000|             3| 1000daitangguh|
|     104915|2019-12-07|      100000|             1|    bisasekolah|
|     146467|2019-12-07|      100000|             1|medisrumahsakit|
|      38661|2019-12-08|       50000|             1|     pesawatr80|
|     115501|2019-12-08|        1000|             1|     gojeksehat|
|      38661|2019-12-09|       85000|             5|     pesawatr80|
|      87067|2019-12-09|      220000|             1|     bisasembuh|
|      18856|2019-12-10|       10000|             1| 1000daitangguh|
|      38661|2019-12-11|       20000|             1|     pesawatr80|
|     115501|2019-12-11|       10000|             1|     gojeksehat|
+-----------+----------+------------+--------------+---------------+
only showing top 20 rows

In [ ]:
sqlDF_donation.createOrReplaceTempView("sqlDF_donation")

sqlDF_ads = spark.sql("SELECT sqlDF_donation.*, SUM(visit.pageview) AS total_pageview, " +
                      "SUM(visit.unique_user) AS new_user, ads_spent.spend, " +
                      "CASE WHEN SUM(visit.pageview) = 0 THEN 0 " +
                      "ELSE NVL((sqlDF_donation.total_donation / SUM(visit.pageview))*100,0) END convertion_rate, " +
                      "NVL((ads_spent.spend / sqlDF_donation.total_amount)*100,0) AS percentage_spending_donation " +
                      "FROM sqlDF_donation " +
                      "LEFT JOIN visit ON visit.date_id = sqlDF_donation.day " +
                      "AND sqlDF_donation.url = visit.campaign_url "+
                      "LEFT JOIN ads_spent ON ads_spent.date_id = sqlDF_donation.day "
                      "AND sqlDF_donation.url = ads_spent.short_url "+
                      "GROUP BY sqlDF_donation.day, sqlDF_donation.total_amount, " +
                      "sqlDF_donation.total_donation, sqlDF_donation.campaign_id, " +
                      "sqlDF_donation.url, ads_spent.spend " +
                      "ORDER BY sqlDF_donation.day, sqlDF_donation.campaign_id, convertion_rate DESC ")

#menampilkan 20 baris pertama
sqlDF_ads.show()

+-----------+----------+------------+--------------+---------------+--------------+--------+-----+-------------------+----------------------------+
|campaign_id|       day|total_amount|total_donation|            url|total_pageview|new_user|spend|    convertion_rate|percentage_spending_donation|
+-----------+----------+------------+--------------+---------------+--------------+--------+-----+-------------------+----------------------------+
|      18856|2019-12-03|       10000|             1| 1000daitangguh|          null|    null| null|                0.0|                         0.0|
|      38661|2019-12-03|       30000|             2|     pesawatr80|           877|     120| null|0.22805017103762829|                         0.0|
|     115501|2019-12-03|       31000|             4|     gojeksehat|          null|    null| null|                0.0|                         0.0|
|      18856|2019-12-04|       10000|             1| 1000daitangguh|          null|    null| null|                0.0|                         0.0|
|      38661|2019-12-04|       10000|             1|     pesawatr80|           803|      90| null|0.12453300124533001|                         0.0|
|     115501|2019-12-04|       10000|             1|     gojeksehat|          null|    null|88302|                0.0|                      883.02|
|      18856|2019-12-05|       10000|             1| 1000daitangguh|          null|    null| null|                0.0|                         0.0|
|     115501|2019-12-05|       10000|             1|     gojeksehat|           163|      13| null| 0.6134969325153374|                         0.0|
|      18856|2019-12-06|       10000|             1| 1000daitangguh|          null|    null| null|                0.0|                         0.0|
|      38661|2019-12-06|       25000|             1|     pesawatr80|          null|    null| null|                0.0|                         0.0|
|      18856|2019-12-07|       40000|             3| 1000daitangguh|          null|    null| null|                0.0|                         0.0|
|     104915|2019-12-07|      100000|             1|    bisasekolah|          null|    null| null|                0.0|                         0.0|
|     146467|2019-12-07|      100000|             1|medisrumahsakit|          null|    null| null|                0.0|                         0.0|
|      38661|2019-12-08|       50000|             1|     pesawatr80|          null|    null| null|                0.0|                         0.0|
|     115501|2019-12-08|        1000|             1|     gojeksehat|          null|    null| null|                0.0|                         0.0|
|      38661|2019-12-09|       85000|             5|     pesawatr80|          null|    null|35526|                0.0|           41.79529411764706|
|      87067|2019-12-09|      220000|             1|     bisasembuh|           605|      21| null| 0.1652892561983471|                         0.0|
|      18856|2019-12-10|       10000|             1| 1000daitangguh|          null|    null| null|                0.0|                         0.0|
|      38661|2019-12-11|       20000|             1|     pesawatr80|          null|    null| null|                0.0|                         0.0|
|     115501|2019-12-11|       10000|             1|     gojeksehat|          null|    null| null|                0.0|                         0.0|
+-----------+----------+------------+--------------+---------------+--------------+--------+-----+-------------------+----------------------------+
only showing top 20 rows



```
Raw Query :

SELECT donation.campaign_id,
TO_DATE(FROM_UNIXTIME(donation.created,'yyyy/MM/dd'), 'yyyy/MM/dd') AS day,
SUM(donation.amount) AS total_amount,
COUNT(donation.campaign_id) AS total_donation,
campaign.url, SUM(visit.pageview) AS total_pageview, SUM(visit.unique_user) AS new_user, ads_spent.spend,
CASE WHEN SUM(visit.pageview) = 0 THEN 0
ELSE NVL((count(donation.campaign_id)/ SUM(visit.pageview))*100,0) END convertion_rate,
NVL((ads_spent.spend / sum(donation.amount))*100,0) AS percentage_spending_donation
FROM donation
LEFT JOIN campaign ON campaign.id = donation.campaign_id
LEFT JOIN visit ON visit.date_id = TO_DATE(FROM_UNIXTIME(donation.created,'yyyy/MM/dd'), 'yyyy/MM/dd')
AND campaign.url = visit.campaign_url
LEFT JOIN ads_spent ON ads_spent.date_id = TO_DATE(FROM_UNIXTIME(donation.created,'yyyy/MM/dd'), 'yyyy/MM/dd')
AND campaign.url = ads_spent.short_url
GROUP BY day, donation.campaign_id, campaign.url, ads_spent.spend
ORDER BY day, donation.campaign_id, convertion_rate DESC
```

# 3. CREATE INDEX

1. Table Donasi

**CREATE UNIQUE INDEX donation_campaign_id_created ON public.donation(campaign_id, created)**

2. Table Campaign

**CREATE UNIQUE INDEX campaign_url ON public.campaign(url)**

3. Table Ads_Spent

**CREATE UNIQUE INDEX ads_short_url_date_id_unique ON public.ads_spent(short_url, date_id)**

4. Table Visit

**CREATE UNIQUE INDEX visit_campaign_url_date_id_unique ON public.visit(campaign_url, date_id)**

# Procedure



```
CREATE FUNCTION ads_performance(p_somedate date) RETURNS SETOF donation AS
$BODY$
BEGIN
    RETURN QUERY SELECT donation.campaign_id,
    TO_DATE(FROM_UNIXTIME(donation.created,'yyyy/MM/dd'), 'yyyy/MM/dd') AS day,
    SUM(donation.amount) AS total_amount,
    COUNT(donation.campaign_id) AS total_donation,
    campaign.url, SUM(visit.pageview) AS total_pageview, SUM(visit.unique_user) AS new_user, ads_spent.spend,
    CASE WHEN SUM(visit.pageview) = 0 THEN 0
    ELSE NVL((count(donation.campaign_id)/ SUM(visit.pageview))*100,0) END convertion_rate,
    NVL((ads_spent.spend / sum(donation.amount))*100,0) AS percentage_spending_donation
    FROM donation
    LEFT JOIN campaign ON campaign.id = donation.campaign_id
    LEFT JOIN visit ON visit.date_id = TO_DATE(FROM_UNIXTIME(donation.created,'yyyy/MM/dd'), 'yyyy/MM/dd')
    AND campaign.url = visit.campaign_url
    LEFT JOIN ads_spent ON ads_spent.date_id = TO_DATE(FROM_UNIXTIME(donation.created,'yyyy/MM/dd'), 'yyyy/MM/dd')
    AND campaign.url = ads_spent.short_url
    AND TO_DATE(FROM_UNIXTIME(donation.created,'yyyy/MM/dd'), 'yyyy/MM/dd') = p_somedate
    GROUP BY day, donation.campaign_id, campaign.url, ads_spent.spend
    ORDER BY day, donation.campaign_id, convertion_rate DESC;

 END;
$BODY$
LANGUAGE plpgsql;
```



```
SELECT * FROM ads_performance('2019-12-03');
```